POSTGRES_HOST= 'furntours-db'
POSTGRES_PORT= 5432
POSTGRES_PASSWORD= 'furntours_password'
POSTGRES_USER= 'furntours_admin'
POSTGRES_DB= 'furntours'

SMTP_HOST= 'mail.infomaniak.com'
SMTP_PORT= 
SMTP_USER= ''
SMTP_PASSWORD= ''