POSTGRES_HOST= 'furntours-db'
POSTGRES_PORT= 5432
POSTGRES_PASSWORD= 'furntours_password'
POSTGRES_USER= 'furntours_admin'
POSTGRES_DB= 'furntours'

STRIPE_SECRET_KEY='sk_test'
STRIPE_WEBHOOK_SECRET='whsec_test'

JWT_SECRET='your_jwt_secret_key'
JWT_EXPIRATION_TIME= '1h'